#include "EntityTemplate.hh"

EntityTemplate::EntityTemplate(const char* textureUrl, sf::Vector2f position, 
float scale, float width, float height, int col, int row, 
sf::RenderWindow*& window, b2World*& world) :
GameObject(textureUrl, position, scale, width, height, col, row, b2BodyType::b2_staticBody, window, world)
{

}

EntityTemplate::~EntityTemplate()
{
}

void EntityTemplate::Update(float& deltaTime)
{

}

void EntityTemplate::Draw()
{

}