#pragma once
#include "GameObject.hh"

class EntityTemplate : public GameObject
{
private:

public:
  EntityTemplate(const char* textureUrl, sf::Vector2f position, 
  float scale, float width, float height, int col, int row, 
  sf::RenderWindow*& window, b2World*& world);
  ~EntityTemplate();
  void Update(float& deltaTime) override;
  void Draw() override;
};